<p>
  colors works!
</p>
{{ color | rgb }}
{{ color.red }}
{{ color.green }}
{{ color.blue }}
<div
        [style.background-color]="getColor()"></div>
<div
        (click)="panelClicked()"
        [appHighlight]="color | rgb"
></div>
<button (click)="setName()">my name</button>
<input type="number"
       required
       [(ngModel)]="color.red"
><br>
<input type="number"
       required
       [(ngModel)]="color.green"
><br>
<input type="number"
       required
       [(ngModel)]="color.blue"
><br>